node_modules
.turbo
.DS_Store
.env
.env.local
.env.*.local
dist
.next
.astro
media
*.tsbuildinfo
.vercel
test-results
playwright-report
blob-report
playwright/.cache
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
