DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT.supabase.co:5432/postgres?sslmode=require
DATABASE_SSL=true
PAYLOAD_SECRET=YOUR_SECRET_HERE
PAYLOAD_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4321
