DATABASE_URL=postgresql://postgres.YOUR_PROJECT:YOUR_PASSWORD@aws-0-YOUR_REGION.pooler.supabase.com:5432/postgres
DATABASE_SSL=true
PAYLOAD_SECRET=YOUR_SECRET_HERE
PAYLOAD_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4321
